<form class="form-horizontal">
  <fieldset>
    <legend>Add a listing</legend>
    <%= simple_form_for @listing do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.button :submit, class:"form-submit" %>
    <% end %>
  </fieldset>
</form>