<div class="form-horizontal">
  <fieldset>
    <legend>Add a listing</legend>
    <div class="form-inputs">
      <%= simple_form_for @listing, :html => { :multipart => true } do |f| %>
      <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.button :submit, class: "form-actions" %>
    <% end %>
    </div>
  </fieldset>
</div>