<ol class="breadcrumb", style="background: transparent;">
  <li><%= link_to "Home", root_path %></a></li>
  <li><a href="#">Library</a></li>
  <li class="active"><%= @listing.category.name %></li>
</ol>

<% if user_signed_in? %>
  <% if @listing.user_id == current_user.id %>
    <%= link_to 'Edit', edit_listing_path, class: "btn btn-default" %>
    <%= link_to 'Delete', listing_path(@listing), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' }  %>
  <% end %>
<% end %>


<div class="col-md-12">

  <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/800x500" alt=""><hr>
      <div class="caption-full">
          <h4 class="pull-right"><%= @listing.price %>$</h4>
          <h1><%= @listing.title %></h1><hr>
          <p><%= @listing.description %></p>
      </div>
  </div>