<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 ">
				<div class="navbar-header">
					    <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
					        <span class="glyphicon glyphicon-align-justify"></span>
					    </button>
      					<%= link_to "BridgeON", root_path,  class: "navbar-brand logo" %>
    			</div>
			</div>
			<% if user_signed_in? %>
			<div class="col-md-8">
				<nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
					<ul class="nav navbar-nav navbar-right menu">
							<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
							<li><%= link_to "Account", edit_user_registration_path %></li>
							<li><%= link_to "SELL", new_listing_path, class:"sell-button" %></li>
					</ul>
				</nav>
			</div>
			<% else %>
			<div class="col-md-8">
				<nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
					<ul class="nav navbar-nav navbar-right menu">
							<li><%= link_to "Log in", new_user_session_path %></li>
							<li><%= link_to "Sign up", new_user_registration_path %></li>
							<li><%= link_to "SELL", new_listing_path, class:"sell-button" %></li>
					</ul>
				</nav>
			</div>
			<% end %>
		</div>
  </div>
</header>