<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <%= link_to "BridgeOn", root_path, class: "navbar-brand", style: "color:#990000; font-weight: bold;" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
         <li><%= link_to '<span class="glyphicon glyphicon-bullhorn"></span> SELL'.html_safe, new_listing_path, class: 'btn btn-default', style: "background: #990000;" %></li>
      </ul>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
         <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Account'.html_safe, edit_user_registration_path, class: 'btn btn-default' %></li>
         <li><%= link_to '<span class="glyphicon glyphicon-log-out"></span> Log out'.html_safe, destroy_user_session_path, method: :delete, class: 'btn btn-default' %></li>
         <li class="s-icon" style="background:#990000;"><a href="#" id="addClass"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Sign up'.html_safe, new_user_registration_path, class: 'btn btn-default' %></li>
        <li class="divider"></li>
        <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Log in'.html_safe, new_user_session_path, class: 'btn btn-default' %></li>
        <li class="s-icon" style="background:#990000;"><a href="#" id="addClass"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>